* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

.tampilan {
    width: 80%;
    margin: auto;
    padding: 10px;
}

/* heading */
.heading {
    width: 100%;
}
/* akhir heading */

/* formulir */
h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 70px;
    font-size: 30px;
    font-family: "Trirong", sans-serif;
    color: black;
    text-shadow: 3px 3px 4px goldenrod;
}


h1:hover {
    letter-spacing: 2px;
    transition: .2s;
    cursor: auto;
}


.petunjuk_pengisian {
    font-weight: bold;
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-shadow:  3px 3px 4px goldenrod;

}

.petunjuk_pengisian:hover {
    letter-spacing: 2px;
    transition: .2s;
    cursor: auto;
   
}
p {
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-shadow:  3px 3px 4px goldenrod;
}

p:hover {
    cursor: auto;
    letter-spacing: 2px;
    transition: .2s;
}


/* background_isi */
.background_isi {
    width: 100%;
    margin: auto;
    background-color: whitesmoke;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.58);
}
/* akhir background_isi */

.judul {
    font-size: 27px;
    margin-top: 20px;
    text-align: center;
    color: rgb(41, 38, 38);
    margin-bottom: 28px
}

.isilah, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}
.isi {
    font-size: 14px;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
}


label {
    font-size: 17px;
    font-weight: bold;
    color: rgb(41, 38, 38);
}


input[type=radio] {
    margin: 20px;
}

input[type=file] {
    background-color: #fff;
    border: none;
    font-size: 15px;
    color: gray;
}

button {
    width: 15%;
    background-color: grey;
    color: black;
    padding: 8px;
    margin: 8px;
    border: none;
    border-radius: 4px;
    font-size: 17px;
}

button:hover {
    background-color:rgba(128, 128, 128, 0.555);
    transition: .2s;
}

/* akhir formulir */

/* media query */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    body {
        box-sizing: border-box;
    }

    .heading img{
      width: 100%;
    }
    h1 {
        font-size: 13px;
        margin-top: 20px;
    margin-bottom: 20px;
        
    }

    .petunjuk_pengisian {
        font-size: 12px;
      
    }

    p {
        font-size: 11px;
    }

    .tampilan2 {
        padding: 20px;
    }

    .judul {
        font-size: 18px;
    }

    label {
        font-size: 12px;
    }

    .isi {
        font-size: 11px;
    }

    .isilah, select {
        padding: 8px 10px;
        font-size: 11px;
    }

    input[type=file] {
        font-size: 11px;
    }

    button {
        padding: 8px 10px;
        margin: 8px 0;
        cursor: pointer;
        font-size: 10px;
    }
    
    
}
/* akhir media query */